<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <appSettings>
    <!--<add key="ConnectionString" value="Server=KRITZ\SQLEXPRESS2008;UID=sa;PWD=Pass123$;Database=KritzArtGallery"/>-->
    <!--<add key="ConnectionString" value="Server=KRITZ\SQLEXPRESS2008;Database=KritzArtGallery;Trusted_Connection=True;"/>-->
    <add key="ConnectionString" value="Server=KRITZ\MSSQL2014;Database=KritzArtGallery;Trusted_Connection=True;"/>
    <add key="userid" value="Kritzadmin"/>
    <add key="password" value="password"/>
  </appSettings>
  <connectionStrings/>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <authentication mode="Windows"/>
    <machineKey validationKey="D4A6BACE7A7D1F5C7FD59B399FA366FCF866E88483C533AF1F1BCEE74A7349ED0AC02D0E18707300BA88AB7E1F21936BD7FBB9FA8614E4AAD109FC5A8E3EB321" decryptionKey="5573192761D48363FBAA0FBA97526954F8E44299BAEE1ED2" validation="SHA1"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>